.app {
    width: 100vw;
}

.header {
    height: 8%;
    text-align: center;
    position: relative;
    top: 2em;
}

.header-title {
    font-size: 30px;
    color: rgb(38, 20, 153);
    text-shadow: 0.5px 0.5px 0.52px rgb(223, 224, 226);
}


.content {
    width: 100%;
    height: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 2em;
}

@keyframes animated-border {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(119, 164, 160, 0);
    }
}

.left-side {
    width: 30%;
    height: 100%;
    display: flex;
    position: relative;
    margin: 0 5em;
    animation: animated-border 2s infinite;
    border:solid 2px rgba(64, 80, 128, 0.285);
    border-radius: 10px;
}

.leftbody {
    width: 100%;
}
.left-button {
    width: 50%;
    height: 10%;
    display: flex;
    margin-bottom: 10px;
    background-color: rgb(244, 244, 248);
    border-radius: 10px;
    margin: 30%;
    font-size: 20px;
    cursor: pointer;
}
.left-button:hover{
    color: aqua;
}

.left-button span {
    margin: 0 auto;
    margin-top: 20px;
}

.left-button [type="radio"] {
    clip: rect(0, 0, 0, 0);
    position: absolute;
}



.right-side {
    width: 70%;
    height: 100%;
    display: flex;
    position: relative;
    border: solid 1px rgba(13, 54, 149, 0.332);
    animation: animated-border 2s infinite;
    border-radius: 10px;
    padding: 1em;
}

.change-form{
    background-color: #eff3f5;
}