* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
  * 颜色
  */
:root {
    --purple: #ac9bb5;
    --purple_deep: #36447b;
    --blue: #648ab9;
    --grey: #d2dbf4;
    --blue_green: #79abd7;
    --blue_green_deep: #4f7293;
}

/*
  *表格*
  */
table {
    border: 1px solid #ddd;
    font-size: 0.8rem;
    margin: 10px;
    border-collapse: collapse;
    text-align: center;
}

caption {
    font-weight: bold;
    padding: 10px;
}

td,
th {
    border: 1px solid #ddd;
    padding: 1em 1.5em;
}

thead th {
    background-color: #eff3f5;
}

tr:nth-child(even) {
    background-color: #f7f7f7;
}

tr:nth-child(odd) {
    background-color: #fff;
}

tr:hover {
    background-color: #dfdfdf7b;
}

/*
  * 链接
  */
a {
    font-weight: bold;
    outline: none;
    text-decoration: none;
}

a:link,
a:visited {
    color: var(--purple_deep);
}

a:active,
a:focus,
a:hover {
    color: var(--blue_green);
    text-decoration: underline;
}

.app {
    background: url('../img/river.jpg') no-repeat;
    background-size: 100%;
    backdrop-filter: blur(3px);
    width: 100vw;
    height: 100vh;
}