node_modules
.idea
.vs

out/
dist/

*[Bb]uild*
*[Dd]ebug*

[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]u/
[Oo]bj/
[Ll]ib/

.VSCodeCounter

*.jar
*.log
*.class
*.exe
tempCodeRunnerFile.*

*ignore*
*.min.*

*.zip
*.7z
*.rar

!.gitignore