* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
  * 颜色
  */
:root {
  --purple: #ac9bb5;
  --purple_deep: #36447b;
  --blue: #648ab9;
  --grey: #d2dbf4;
  --blue_green: #79abd7;
  --blue_green_deep: #4f7293;
}

/*
  *表格*
  */
table {
  border: 1px solid #ddd;
  font-size: 0.9rem;
  margin: 1px;
  border-spacing: 0;
  text-align: center;
  width: 100%;
  border-radius: 20px;
  overflow: auto;
  color: black;
  font-weight: bold;
}

caption {
  font-weight: bold;
  padding: 10px;
}
tr {
  border-radius: 10px;
  border-radius: 10px 0 0 10px;
}
td,
th {
  border: 1px solid #ddd;
  padding: 1em 1.5em;
}
thead th {
  background-color: #eff3f5b6;
}
thead :first-child {
  border-radius: 10px 0 0 0; /*左上右上 左下 右下*/
}
thead :last-child {
  border-radius: 0 10px 0 0;
}
tr:nth-child(even) {
  background-color: #f7f7f7b7;
}
tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.73);
}
tr:hover {
  background-color: #dfdfdf7b;
  color: #3d0bf5de;
}

/*
  * 链接
  */
a {
  font-weight: bold;
  outline: none;
  text-decoration: none;
}

a:link,
a:visited {
  color: var(--purple_deep);
}

a:active,
a:focus,
a:hover {
  color: var(--blue_green);
  text-decoration: underline;
}

.app {
  width: 100vw;
}

.header {
  height: 8%;
  text-align: center;
  position: relative;
  top: 1em;
}
.add{
  position: absolute;
  font-family: FontAwesome;
  font-size:50px;
  right: 6%;
}
.author{
  color: white;
}
.header-title {
  font-size: 30px;
  color: rgb(38, 20, 153);
  text-shadow: 0.5px 0.5px 0.52px rgb(223, 224, 226);
}

.content {
  width: 100%;
  height: 92%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2em;
}

@keyframes animated-border {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(119, 164, 160, 0);
  }
}

.left-side {
  width: 20%;
  height: 100%;
  display: flex;
  position: relative;
  margin-right: 2em;
  animation: animated-border 2s infinite;
  border: solid 2px rgba(64, 80, 128, 0.285);
  border-radius: 10px;
}

.leftbody {
  width: 100%;
}

.left-logo {
  text-align: center;
  font-size: 20px;
}

.left-logo img {
  width: 100px;
  position: relative;
  background-color: transparent;
}

.left-button {
  display: flex;
  background-color: rgb(244, 244, 248);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 20%;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  box-shadow: -2px -3px rgba(0, 0, 0, 0.195);
}

.left-button:hover {
  color: aqua;
}

.left-button span {
  margin: 0 auto;
  padding: 10px;
}

.left-button [type="radio"] {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.right-side {
  width: 80%;
  height: 100%;
  display: flex;
  position: relative;
  margin-left: 2em;
  animation: animated-border 2s infinite;
  border-radius: 10px;
  padding: 1em;
  overflow: auto;
}

.nav-serach-form {
  padding: 0 10px;
  box-sizing: border-box;
  padding: 0 38px 0 16px;
}

.bserach {
  text-align: center;
  word-break: break-all;
  overflow: hidden;
  border: none;
  height: 34px;
  width: 30%;
  line-height: 34px;
  font-size: 14px;
  float: right;
}

.button-icon {
  float: right;
}

.stu-form {
  width: 100%;
  position: relative;
  padding-top: 30px;
  border-radius: 10px;
  box-shadow: 5px 8px 8px 1px rgb(40 40 40 / 48%);
  border-top: none;
}

.stu-form table {
  border-radius: 10px;
}

.change-form {
  background-color: #eff3f5;
}

.editable {
  border: 1px solid rgba(244, 246, 247, 0.218);
  text-align: center;
  align-items: center;
  width: 80%;
  padding: 5px;
  background-color: rgba(245, 222, 179, 0);
}

/*标题字体特效*/
.container {
  width: 30%;
  border-bottom: 1px solid rgba(197, 212, 241, 0.825);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  color: transparent;
  text-shadow: 0.5px 0.5px 0.6px rgba(246, 242, 243, 0.845);
}
.container div {
  font-size: 3vw;
  font-family: sans-serif;
  transform-style: preserve-3d;
}
.container div:nth-child(1) {
  animation: pulse 10s infinite;
  animation-delay: 0ms;
  color: transparent;
  text-shadow: 0.5px 0.5px 0.6px rgba(246, 242, 243, 0.845);
}
.container div:nth-child(2) {
  animation: pulse 10s infinite;
  animation-delay: 200ms;
  color: transparent;
  text-shadow: 0.5px 0.5px 0.6px rgba(246, 242, 243, 0.845);
}
.container div:nth-child(3) {
  animation: pulse 10s infinite;
  animation-delay: 400ms;
  color: transparent;
  text-shadow: 0.5px 0.5px 0.6px rgba(246, 242, 243, 0.845);
}
.container div:nth-child(4) {
  animation: pulse 10s infinite;
  animation-delay: 600ms;
  color: transparent;
  text-shadow: 0.5px 0.5px 0.6px rgba(246, 242, 243, 0.845);
}
.container div:nth-child(5) {
  animation: pulse 10s infinite;
  animation-delay: 800ms;
  color: transparent;
  text-shadow: 0.5px 0.5px 0.6px rgba(246, 242, 243, 0.845);
}
.container div:nth-child(6) {
  animation: pulse 10s infinite;
  animation-delay: 1000ms;
  color: transparent;
  text-shadow: 0.5px 0.5px 0.6px rgba(246, 242, 243, 0.845);
}
.container div:nth-child(7) {
  animation: pulse 10s infinite;
  animation-delay: 1200ms;
  color: transparent;
  text-shadow: 0.5px 0.5px 0.6px rgba(246, 242, 243, 0.845);
}
.container div:nth-child(8) {
  animation: pulse 10s infinite;
  animation-delay: 1400ms;
  color: transparent;
  text-shadow: 0.5px 0.5px 0.6px rgba(246, 242, 243, 0.845);
}
.container div:nth-child(9) {
  animation: pulse 10s infinite;
  animation-delay: 1600ms;
  color: transparent;
  text-shadow: 0.5px 0.5px 0.6px rgba(246, 242, 243, 0.845);
}
.container div:nth-child(10) {
  animation: pulse 10s infinite;
  animation-delay: 1800ms;
  color: transparent;
  text-shadow: 0.5px 0.5px 0.6px rgba(246, 242, 243, 0.845);
}

@keyframes pulse {
  0% {
    transform: rotateY(-1deg);
    transform-origin: 0 4vw;
  }
  100% {
    transform: rotateY(90deg);
    transform-origin: 0 4vw;
  }
}
